<div class="phone-group phone_card" data-country="IN">
  <label class="selected-country country_number" for="country-flag">
    <div class="country-flag-box">
      <span class="country-flag al" style="background-image: url('https://hatscripts.github.io/circle-flags/flags/gi.svg');background-position: center center; background-size: cover;"></span>
    </div> 
    <div class="selected_country-code">+350</div>
    <select class="country-flag" id="country-flag">
      <option data-code="al" min-digit="8" max-digit="10" value="+355">Albania</option>
      <option data-code="dz" min-digit="8" max-digit="9" value="+213">Algeria</option>
      <option data-code="as" min-digit="10" max-digit="10" value="+1-684">American Samoa</option>
      <option data-code="ad" min-digit="8" max-digit="12" value="+376">Andorra </option>
      <option data-code="ao" min-digit="9" max-digit="9" value="+244">Angola </option>
      <option data-code="ai" min-digit="10" max-digit="10" value="+1-264">Anguilla </option>
      <option data-code="ag" min-digit="10" max-digit="10" value="+1-268">Antigua and Barbuda </option>
      <option data-code="ar" min-digit="10" max-digit="10" value="+54">Argentina </option>
      <option data-code="am" min-digit="8" max-digit="8" value="+374">Armenia </option>
      <option data-code="aw" min-digit="7" max-digit="7" value="+297">Aruba</option>
      <option data-code="au" min-digit="9" max-digit="9" value="+61">Australia </option>
      <option data-code="at" min-digit="10" max-digit="11" value="+43">Austria </option>
      <option data-code="az" min-digit="9" max-digit="9" value="+994">Azerbaijan </option>
      <option data-code="bs" min-digit="10" max-digit="10" value="+1-242">Bahamas </option>
      <option data-code="bh" min-digit="8" max-digit="8" value="+973">Bahrain </option>
      <option data-code="bd" min-digit="10" max-digit="10" value="+880">Bangladesh </option>
      <option data-code="bb" min-digit="10" max-digit="10" value="+1-246">Barbados </option>
      <option data-code="be" min-digit="9" max-digit="9" value="+32">Belgium </option>
      <option data-code="bz" min-digit="7" max-digit="7" value="+501">Belize </option>
      <option data-code="bj" min-digit="6" max-digit="9" value="+229">Benin </option>
      <option data-code="bm" min-digit="10" max-digit="10" value="+1-441">Bermuda </option>
      <option data-code="bt" min-digit="8" max-digit="12" value="+975">Bhutan </option>
      <option data-code="bo" min-digit="8" max-digit="12" value="+591">Bolivia </option>
      <option data-code="ba" min-digit="8" max-digit="8" value="+387">Bosnia and Herzegovina </option>
      <option data-code="bw" min-digit="8" max-digit="12" value="+267">Botswana </option>
      <option data-code="br" min-digit="11" max-digit="11" value="+55">Brazil </option>
      <option data-code="bn" min-digit="8" max-digit="12" value="+673">Brunei </option>
      <option data-code="bg" min-digit="9" max-digit="9" value="+359">Bulgaria </option>
      <option data-code="bf" min-digit="8" max-digit="8" value="+226">Burkina Faso </option>
      <option data-code="bi" min-digit="7" max-digit="7" value="+257">Burundi </option>
      <option data-code="kh" min-digit="9" max-digit="9" value="+855">Cambodia </option>
      <option data-code="cm" min-digit="9" max-digit="9" value="+237">Cameroon </option>
      <option data-code="ca" min-digit="10" max-digit="10" value="+1">Canada </option>
      <option data-code="cv" min-digit="8" max-digit="12" value="+238">Cape Verde </option>
      <option data-code="ky" min-digit="10" max-digit="10" value="+1-345">Cayman Islands </option>
      <option data-code="cf" min-digit="8" max-digit="12" value="+236">Central African Republic </option>
      <option data-code="td" min-digit="8" max-digit="8" value="+235">Chad </option>
      <option data-code="cl" min-digit="9" max-digit="9" value="+56">Chile </option>
      <option data-code="cn" min-digit="11" max-digit="13" value="+86">China </option>
      <option data-code="cx" min-digit="8" max-digit="12" value="+61">Christmas Island </option>
      <option data-code="cc" min-digit="8" max-digit="12" value="+61">Cocos Islands </option>
      <option data-code="co" min-digit="10" max-digit="10" value="+57">Colombia </option>
      <option data-code="km" min-digit="8" max-digit="12" value="+269">Comoros </option>
      <option data-code="ck" min-digit="5" max-digit="5" value="+682">Cook Islands </option>
      <option data-code="cr" min-digit="8" max-digit="8" value="+506">Costa Rica</option>
      <option data-code="hr" min-digit="9" max-digit="9" value="+385">Croatia </option>
      <option data-code="cw" min-digit="8" max-digit="12" value="+599">Curaçao </option>
      <option data-code="cy" min-digit="8" max-digit="8" value="+357">Cyprus </option>
      <option data-code="cz" min-digit="9" max-digit="9" value="+420">Czech Republic </option>
      <option data-code="dk" min-digit="8" max-digit="8" value="+45">Denmark </option>
      <option data-code="dj" min-digit="8" max-digit="12" value="+253">Djibouti </option>
      <option data-code="dm" min-digit="10" max-digit="10" value="+1-767">Dominica </option>
      <option data-code="do" min-digit="10" max-digit="10" value="+1-809">Dominican Republic </option>
      <option data-code="tl" min-digit="8" max-digit="8" value="+670">East Timor </option>
      <option data-code="ec" min-digit="8" max-digit="9" value="+593">Ecuador </option>
      <option data-code="eg" min-digit="10" max-digit="10" value="+20">Egypt </option>
      <option data-code="sv" min-digit="8" max-digit="8" value="+503">El Salvador </option>
      <option data-code="gq" min-digit="8" max-digit="12" value="+240">Equatorial Guinea </option>
      <option data-code="er" min-digit="8" max-digit="12" value="+291">Eritrea </option>
      <option data-code="ee" min-digit="7" max-digit="8" value="+372">Estonia </option>
      <option data-code="et" min-digit="8" max-digit="12" value="+251">Ethiopia </option>
      <option data-code="sz" min-digit="8" max-digit="8" value="+268">Eswatini </option>
      <option data-code="fk" min-digit="5" max-digit="5" value="+500">Falkland Islands </option>
      <option data-code="fo" min-digit="5" max-digit="5" value="+298">Faroe Islands </option>
      <option data-code="fj" min-digit="8" max-digit="12" value="+679">Fiji </option>
      <option data-code="fi" min-digit="8" max-digit="10" value="+358">Finland </option>
      <option data-code="fr" min-digit="9" max-digit="9" value="+33">France </option>
      <option data-code="gf" min-digit="9" max-digit="12" value="+594">French Guiana</option>
      <option data-code="pf" min-digit="6" max-digit="6" value="+689">French Polynesia </option>
      <option data-code="ga" min-digit="7" max-digit="7" value="+241">Gabon </option>
      <option data-code="gm" min-digit="8" max-digit="12" value="+220">Gambia </option>
      <option data-code="ge" min-digit="9" max-digit="9" value="+995">Georgia </option>
      <option data-code="de" min-digit="10" max-digit="10" value="+49">Germany </option>
      <option data-code="gh" min-digit="9" max-digit="9" value="+233">Ghana </option>
      <option data-code="gi" min-digit="8" max-digit="12" value="+350">Gibraltar </option>
      <option data-code="gr" min-digit="10" max-digit="10" value="+30">Greece </option>
      <option data-code="gl" min-digit="6" max-digit="6" value="+299">Greenland </option>
      <option data-code="gd" min-digit="10" max-digit="10" value="+1-473">Grenada </option>
      <option data-code="gu" min-digit="10" max-digit="10" value="+1-671">Guam </option>
      <option data-code="gt" min-digit="8" max-digit="8" value="+502">Guatemala </option>
      <option data-code="gg" min-digit="10" max-digit="10" value="+44-1481">Guernsey  </option>
      <option data-code="gn" min-digit="8" max-digit="12" value="+224">Guinea </option>
      <option data-code="gw" min-digit="8" max-digit="12" value="+245">Guinea-Bissau </option>
      <option data-code="gy" min-digit="8" max-digit="12" value="+592">Guyana</option>
      <option data-code="ht" min-digit="8" max-digit="12" value="+509">Haiti </option>
      <option data-code="hn" min-digit="8" max-digit="8" value="+504">Honduras </option>
      <option data-code="hk" min-digit="8" max-digit="8" value="+852">Hong Kong </option>
      <option data-code="hu" min-digit="8" max-digit="9" value="+36">Hungary </option>
      <option data-code="is" min-digit="8" max-digit="12" value="+354">Iceland </option>
      <option data-code="in" min-digit="10" max-digit="10" value="+91">India </option>
      <option data-code="id" min-digit="9" max-digit="11" value="+62">Indonesia </option>
      <option data-code="iq" min-digit="10" max-digit="10" value="+964">Iraq </option>
      <option data-code="ie" min-digit="9" max-digit="9" value="+353">Ireland </option>
      <option data-code="im" min-digit="10" max-digit="10" value="+44-1624">Isle of Man</option>
      <option data-code="it" min-digit="8" max-digit="13" value="+39">Italy </option>
      <option data-code="ci" min-digit="10" max-digit="10" value="+225">Ivory Coast</option>
      <option data-code="jm" min-digit="10" max-digit="10" value="+1-876">Jamaica </option>
      <option data-code="jp" min-digit="10" max-digit="10" value="+81">Japan </option>
      <option data-code="je" min-digit="10" max-digit="10" value="+44-1534">Jersey </option>
      <option data-code="jo" min-digit="9" max-digit="9" value="+962">Jordan </option>
      <option data-code="kz" min-digit="10" max-digit="10" value="+7">Kazakhstan </option>
      <option data-code="ke" min-digit="10" max-digit="10" value="+254">Kenya</option>
      <option data-code="ki" min-digit="8" max-digit="8" value="+686">Kiribati </option>
      <option data-code="xk" min-digit="8" max-digit="8" value="+383">Kosovo</option>
      <option data-code="kw" min-digit="8" max-digit="8" value="+965">Kuwait </option>
      <option data-code="kg" min-digit="8" max-digit="9" value="+996">Kyrgyzstan </option>
      <option data-code="la" min-digit="8" max-digit="12" value="+856">Laos </option>
      <option data-code="lv" min-digit="8" max-digit="8" value="+371">Latvia </option>
      <option data-code="lb" min-digit="8" max-digit="8" value="+961">Lebanon </option>
      <option data-code="ls" min-digit="8" max-digit="12" value="+266">Lesotho </option>
      <option data-code="lr" min-digit="7" max-digit="8" value="+231">Liberia </option>
      <option data-code="li" min-digit="7" max-digit="7" value="+423">Liechtenstein </option>
      <option data-code="lt" min-digit="8" max-digit="8" value="+370">Lithuania </option>
      <option data-code="lu" min-digit="9" max-digit="9" value="+352">Luxembourg </option>
      <option data-code="mo" min-digit="8" max-digit="12" value="+853">Macau </option>
      <option data-code="mg" min-digit="8" max-digit="12" value="+261">Madagascar </option>
      <option data-code="mw" min-digit="8" max-digit="12" value="+265">Malawi </option>
      <option data-code="my" min-digit="7" max-digit="8" value="+60">Malaysia </option>
      <option data-code="mv" min-digit="7" max-digit="7" value="+960">Maldives </option>
      <option data-code="ml" min-digit="8" max-digit="8" value="+223">Mali </option>
      <option data-code="mt" min-digit="8" max-digit="8" value="+356">Malta </option>
      <option data-code="mh" min-digit="7" max-digit="7" value="+692">Marshall Islands </option>
      <option data-code="mq" min-digit="9" max-digit="12" value="+596">Martinique </option>
      <option data-code="mr" min-digit="8" max-digit="12" value="+222">Mauritania </option>
      <option data-code="mu" min-digit="8" max-digit="8" value="+230">Mauritius </option>
      <option data-code="yt" min-digit="8" max-digit="12" value="+262">Mayotte </option>
      <option data-code="mx" min-digit="10" max-digit="10" value="+52">Mexico </option>
      <option data-code="fm" min-digit="7" max-digit="7" value="+691">Micronesia </option>
      <option data-code="md" min-digit="8" max-digit="8" value="+373">Moldova </option>
      <option data-code="mc" min-digit="8" max-digit="8" value="+377">Monaco </option>
      <option data-code="mn" min-digit="8" max-digit="8" value="+976">Mongolia </option>
      <option data-code="me" min-digit="8" max-digit="8" value="+382">Montenegro </option>
      <option data-code="ms" min-digit="10" max-digit="10" value="+1-664">Montserrat </option>
      <option data-code="ma" min-digit="8" max-digit="12" value="+212">Morocco </option>
      <option data-code="mz" min-digit="12" max-digit="12" value="+258">Mozambique </option>
      <option data-code="mm" min-digit="8" max-digit="10" value="+95">Myanmar </option>
      <option data-code="na" min-digit="8" max-digit="12" value="+264">Namibia </option>
      <option data-code="nr" min-digit="8" max-digit="12" value="+674">Nauru </option>
      <option data-code="np" min-digit="10" max-digit="10" value="+977">Nepal </option>
      <option data-code="nl" min-digit="9" max-digit="9" value="+31">Netherlands </option>
      <option data-code="nc" min-digit="6" max-digit="6" value="+687">New Caledonia </option>
      <option data-code="nz" min-digit="8" max-digit="10" value="+64">New Zealand </option>
      <option data-code="ni" min-digit="8" max-digit="8" value="+505">Nicaragua </option>
      <option data-code="ne" min-digit="8" max-digit="8" value="+227">Niger </option>
      <option data-code="ng" min-digit="8" max-digit="8" value="+234">Nigeria </option>
      <option data-code="nu" min-digit="4" max-digit="4" value="+683">Niue </option>
      <option data-code="nf" min-digit="6" max-digit="6" value="+672">Norfolk Island </option>
      <option data-code="mk" min-digit="8" max-digit="8" value="+389">North Macedonia </option>
      <option data-code="mp" min-digit="10" max-digit="10" value="+1-670">Northern Mariana Islands </option>
      <option data-code="no" min-digit="8" max-digit="8" value="+47">Norway </option>
      <option data-code="om" min-digit="8" max-digit="12" value="+968">Oman </option>
      <option data-code="pk" min-digit="10" max-digit="10" value="+92">Pakistan </option>
      <option data-code="pw" min-digit="7" max-digit="7" value="+680">Palau </option>
      <option data-code="pa" min-digit="8" max-digit="8" value="+507">Panama </option>
      <option data-code="pg" min-digit="8" max-digit="8" value="+675">Papua New Guinea </option>
      <option data-code="py" min-digit="9" max-digit="9" value="+595">Paraguay </option>
      <option data-code="pe" min-digit="9" max-digit="9" value="+51">Peru </option>
      <option data-code="ph" min-digit="10" max-digit="10" value="+63">Philippines </option>
      <option data-code="pn" min-digit="8" max-digit="12" value="+870">Pitcairn Islands </option>
      <option data-code="pl" min-digit="8" max-digit="10" value="+48">Poland </option>
      <option data-code="pt" min-digit="8" max-digit="10" value="+351">Portugal </option>
      <option data-code="pr" min-digit="10" max-digit="10" value="+1-787">Puerto Rico </option>
      <option data-code="qa" min-digit="8" max-digit="8" value="+974">Qatar </option>
      <option data-code="ro" min-digit="10" max-digit="10" value="+40">Romania </option>
      <option data-code="rw" min-digit="8" max-digit="12" value="+250">Rwanda </option>
      <option data-code="kn" min-digit="10" max-digit="10" value="+1-869">Saint Kitts and Nevis </option>
      <option data-code="lc" min-digit="10" max-digit="10" value="+1-758">Saint Lucia </option>
      <option data-code="vc" min-digit="10" max-digit="10" value="+1-784">Saint Vincent and the Grenadines</option>
      <option data-code="ws" min-digit="5" max-digit="5" value="+685">Samoa </option>
      <option data-code="sm" min-digit="8" max-digit="12" value="+378">San Marino </option>
      <option data-code="st" min-digit="8" max-digit="12" value="+239">Sao Tome and Principe </option>
      <option data-code="sa" min-digit="9" max-digit="9" value="+966">Saudi Arabia </option>
      <option data-code="sn" min-digit="8" max-digit="12" value="+221">Senegal </option>
      <option data-code="rs" min-digit="8" max-digit="9" value="+381">Serbia </option>
      <option data-code="sc" min-digit="5" max-digit="5" value="+248">Seychelles </option>
      <option data-code="sl" min-digit="8" max-digit="12" value="+232">Sierra Leone </option>
      <option data-code="sg" min-digit="8" max-digit="8" value="+65">Singapore </option>
      <option data-code="sx" min-digit="8" max-digit="12" value="+1-721">Sint Maarten </option>
      <option data-code="sk" min-digit="9" max-digit="9" value="+421">Slovakia </option>
      <option data-code="si" min-digit="8" max-digit="12" value="+386">Slovenia </option>
      <option data-code="sb" min-digit="7" max-digit="7" value="+677">Solomon Islands </option>
      <option data-code="za" min-digit="9" max-digit="9" value="+27">South Africa </option>
      <option data-code="kr" min-digit="9" max-digit="10" value="+82">South Korea </option>
      <option data-code="es" min-digit="9" max-digit="9" value="+34">Spain </option>
      <option data-code="lk" min-digit="7" max-digit="7" value="+94">Sri Lanka</option>
      <option data-code="sd" min-digit="8" max-digit="12" value="+249">Sudan </option>
      <option data-code="sr" min-digit="8" max-digit="12" value="+597">Suriname </option>
      <option data-code="sj" min-digit="8" max-digit="12" value="+47">Svalbard </option>
      <option data-code="se" min-digit="7" max-digit="7" value="+46">Sweden </option>
      <option data-code="ch" min-digit="9" max-digit="9" value="+41">Switzerland </option>
      <option data-code="tw" min-digit="9" max-digit="9" value="+886">Taiwan </option>
      <option data-code="tj" min-digit="8" max-digit="12" value="+992">Tajikistan</option>
      <option data-code="tz" min-digit="6" max-digit="6" value="+255">Tanzania </option>
      <option data-code="th" min-digit="9" max-digit="9" value="+66">Thailand </option>
      <option data-code="tg" min-digit="8" max-digit="8" value="+228">Togo </option>
      <option data-code="tk" min-digit="8" max-digit="12" value="+690">Tokelau </option>
      <option data-code="to" min-digit="8" max-digit="12" value="+676">Tonga </option>
      <option data-code="tt" min-digit="8" max-digit="10" value="+1-868">Trinidad and Tobago </option>
      <option data-code="tn" min-digit="8" max-digit="8" value="+216">Tunisia </option>
      <option data-code="tr" min-digit="10" max-digit="10" value="+90">Turkey </option>
      <option data-code="tm" min-digit="8" max-digit="12" value="+993">Turkmenistan </option>
      <option data-code="tc" min-digit="10" max-digit="10" value="+1-649">Turks and Caicos Islands </option>
      <option data-code="tv" min-digit="8" max-digit="12" value="+688">Tuvalu </option>
      <option data-code="vi" min-digit="10" max-digit="10" value="+1-340">United States Virgin Islands </option>
      <option data-code="ug" min-digit="8" max-digit="12" value="+256">Uganda </option>
      <option data-code="ua" min-digit="9" max-digit="9" value="+380">Ukraine </option>
      <option data-code="ae" min-digit="9" max-digit="9" value="+971">United Arab Emirates </option>
      <option data-code="gb" min-digit="10" max-digit="10" value="+44">United Kingdom </option>
      <option data-code="us" min-digit="10" max-digit="10" value="+1">United States </option>
      <option data-code="uy" min-digit="8" max-digit="8" value="+598">Uruguay </option>
      <option data-code="uz" min-digit="8" max-digit="12" value="+998">Uzbekistan </option>
      <option data-code="vu" min-digit="8" max-digit="12" value="+678">Vanuatu </option>
      <option data-code="va" min-digit="10" max-digit="10" value="+379">Vatican City </option>
      <option data-code="vn" min-digit="9" max-digit="9" value="+84">Vietnam </option>
      <option data-code="wf" min-digit="8" max-digit="12" value="+681">Wallis and Futuna </option>
      <option data-code="eh" min-digit="8" max-digit="12" value="+212">Western Sahara </option>
      <option data-code="zm" min-digit="9" max-digit="9" value="+260">Zambia </option>
      <option data-code="zw" min-digit="9" max-digit="9" value="+263">Zimbabwe </option>
    </select>
    <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M6.75 1.5L3.75 4.5L0.75 1.5" stroke="var(--color-body)" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"></path></svg>
  </label>
  <input type="tel" placeholder="Phone Number" name="{{ name }}" id="checkout_shipping_address_phone" class="checkout_shipping_address_phone"  minlength="8" maxlength="12" autocomplete="off" title="Invalid number. Please enter valid phone number">
</div>
<script>
document.querySelectorAll(".checkout_shipping_address_phone").forEach((phone_input) => {
 phone_input.addEventListener("input", function () {
  this.value = this.value.replace(/\D/g, "");
});
});
</script>