<div class="slide-btn flickity-nav product-next flickity-prev {% if is_desktop %}desktop-only{% endif %}" tabindex="0">
  <img width="30" height="30" src="{{ 'arrow-left.svg' | asset_url }}">
</div>
<div class="slide-btn flickity-nav product-prev flickity-next {% if is_desktop %}desktop-only{% endif %}" tabindex="0">
  <img width="30" height="30" src="{{ 'arrow-right.svg' | asset_url }}">
</div>
