<div class="slide-btn flickity-nav product-next1 flickity-prev {% if is_mobile %}mobile-only{% endif %}" tabindex="0">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M16 5L9 12L16 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow"/>
  </svg>
</div>
<div class="slide-btn flickity-nav product-prev1 flickity-next {% if is_mobile %}mobile-only{% endif %}" tabindex="0">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="right-arrow" xmlns="http://www.w3.org/2000/svg">
    <path d="M8 5L15 12L8 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
