 .country-flag.in,
 .country-flag.in {
  height: 14px;
  background-position: -2413px 0px;
}
.country-flag {
  width: 20px;
  padding: 0;
  margin: 0;
}
 .country-flag.us,
 .country-flag.us {
  height: 11px;
  background-position: -5263px 0px;
}
 .country-flag.ca,
 .country-flag.ca {
  height: 10px;
  background-position: -834px 0px;
}
 .country-flag.gb,
 .country-flag.gb {
  height: 10px;
  background-position: -1775px 0px;
}
 .country-flag.au,
 .country-flag.au {
  height: 10px;
  background-position: -286px 0px;
}
 .country-flag.ac,
 .country-flag.ac {
  height: 10px;
  background-position: 0px 0px;
}
 .country-flag.ad,
 .country-flag.ad {
  height: 14px;
  background-position: -22px 0px;
}
 .country-flag.ae,
 .country-flag.ae {
  height: 10px;
  background-position: -44px 0px;
}
 .country-flag.af,
 .country-flag.af {
  height: 14px;
  background-position: -66px 0px;
}
 .country-flag.ag,
 .country-flag.ag {
  height: 14px;
  background-position: -88px 0px;
}
 .country-flag.ai,
 .country-flag.ai {
  height: 10px;
  background-position: -110px 0px;
}
 .country-flag.al,
 .country-flag.al {
  height: 15px;
  background-position: -132px 0px;
}
 .country-flag.am,
 .country-flag.am {
  height: 10px;
  background-position: -154px 0px;
}
 .country-flag.ao,
 .country-flag.ao {
  height: 14px;
  background-position: -176px 0px;
}
 .country-flag.aq,
 .country-flag.aq {
  height: 14px;
  background-position: -198px 0px;
}
 .country-flag.ar,
 .country-flag.ar {
  height: 13px;
  background-position: -220px 0px;
}
 .country-flag.as,
 .country-flag.as {
  height: 10px;
  background-position: -242px 0px;
}
 .country-flag.at,
 .country-flag.at {
  height: 14px;
  background-position: -264px 0px;
}
 .country-flag.au,
 .country-flag.au {
  height: 10px;
  background-position: -286px 0px;
}
 .country-flag.aw,
 .country-flag.aw {
  height: 14px;
  background-position: -308px 0px;
}
 .country-flag.ax,
 .country-flag.ax {
  height: 13px;
  background-position: -330px 0px;
}
 .country-flag.az,
 .country-flag.az {
  height: 10px;
  background-position: -352px 0px;
}
 .country-flag.ba,
 .country-flag.ba {
  height: 10px;
  background-position: -374px 0px;
}
 .country-flag.bb,
 .country-flag.bb {
  height: 14px;
  background-position: -396px 0px;
}
 .country-flag.bd,
 .country-flag.bd {
  height: 12px;
  background-position: -418px 0px;
}
 .country-flag.be,
 .country-flag.be {
  height: 15px;
  background-position: -440px 0px;
}
 .country-flag.bf,
 .country-flag.bf {
  height: 14px;
  background-position: -460px 0px;
}
 .country-flag.bg,
 .country-flag.bg {
  height: 12px;
  background-position: -482px 0px;
}
 .country-flag.bh,
 .country-flag.bh {
  height: 12px;
  background-position: -504px 0px;
}
 .country-flag.bi,
 .country-flag.bi {
  height: 12px;
  background-position: -526px 0px;
}
 .country-flag.bj,
 .country-flag.bj {
  height: 14px;
  background-position: -548px 0px;
}
 .country-flag.bl,
 .country-flag.bl {
  height: 14px;
  background-position: -570px 0px;
}
 .country-flag.bm,
 .country-flag.bm {
  height: 10px;
  background-position: -592px 0px;
}
 .country-flag.bn,
 .country-flag.bn {
  height: 10px;
  background-position: -614px 0px;
}
 .country-flag.bo,
 .country-flag.bo {
  height: 14px;
  background-position: -636px 0px;
}
 .country-flag.bq,
 .country-flag.bq {
  height: 14px;
  background-position: -658px 0px;
}
 .country-flag.br,
 .country-flag.br {
  height: 14px;
  background-position: -680px 0px;
}
 .country-flag.bs,
 .country-flag.bs {
  height: 10px;
  background-position: -702px 0px;
}
 .country-flag.bt,
 .country-flag.bt {
  height: 14px;
  background-position: -724px 0px;
}
 .country-flag.bv,
 .country-flag.bv {
  height: 15px;
  background-position: -746px 0px;
}
 .country-flag.bw,
 .country-flag.bw {
  height: 14px;
  background-position: -768px 0px;
}
 .country-flag.by,
 .country-flag.by {
  height: 10px;
  background-position: -790px 0px;
}
 .country-flag.bz,
 .country-flag.bz {
  height: 14px;
  background-position: -812px 0px;
}
 .country-flag.ca,
 .country-flag.ca {
  height: 10px;
  background-position: -834px 0px;
}
 .country-flag.cc,
 .country-flag.cc {
  height: 10px;
  background-position: -856px 0px;
}
 .country-flag.cd,
 .country-flag.cd {
  height: 15px;
  background-position: -878px 0px;
}
 .country-flag.cf,
 .country-flag.cf {
  height: 14px;
  background-position: -900px 0px;
}
 .country-flag.cg,
 .country-flag.cg {
  height: 14px;
  background-position: -922px 0px;
}
 .country-flag.ch,
 .country-flag.ch {
  height: 15px;
  background-position: -944px 0px;
}
 .country-flag.ci,
 .country-flag.ci {
  height: 14px;
  background-position: -961px 0px;
}
 .country-flag.ck,
 .country-flag.ck {
  height: 10px;
  background-position: -983px 0px;
}
 .country-flag.cl,
 .country-flag.cl {
  height: 14px;
  background-position: -1005px 0px;
}
 .country-flag.cm,
 .country-flag.cm {
  height: 14px;
  background-position: -1027px 0px;
}
 .country-flag.cn,
 .country-flag.cn {
  height: 14px;
  background-position: -1049px 0px;
}
 .country-flag.co,
 .country-flag.co {
  height: 14px;
  background-position: -1071px 0px;
}
 .country-flag.cp,
 .country-flag.cp {
  height: 14px;
  background-position: -1093px 0px;
}
 .country-flag.cr,
 .country-flag.cr {
  height: 12px;
  background-position: -1115px 0px;
}
 .country-flag.cu,
 .country-flag.cu {
  height: 10px;
  background-position: -1137px 0px;
}
 .country-flag.cv,
 .country-flag.cv {
  height: 12px;
  background-position: -1159px 0px;
}
 .country-flag.cw,
 .country-flag.cw {
  height: 14px;
  background-position: -1181px 0px;
}
 .country-flag.cx,
 .country-flag.cx {
  height: 10px;
  background-position: -1203px 0px;
}
 .country-flag.cy,
 .country-flag.cy {
  height: 14px;
  background-position: -1225px 0px;
}
 .country-flag.cz,
 .country-flag.cz {
  height: 14px;
  background-position: -1247px 0px;
}
 .country-flag.de,
 .country-flag.de {
  height: 12px;
  background-position: -1269px 0px;
}
 .country-flag.dg,
 .country-flag.dg {
  height: 10px;
  background-position: -1291px 0px;
}
 .country-flag.dj,
 .country-flag.dj {
  height: 14px;
  background-position: -1313px 0px;
}
 .country-flag.dk,
 .country-flag.dk {
  height: 15px;
  background-position: -1335px 0px;
}
 .country-flag.dm,
 .country-flag.dm {
  height: 10px;
  background-position: -1357px 0px;
}
 .country-flag.do,
 .country-flag.do {
  height: 14px;
  background-position: -1379px 0px;
}
 .country-flag.dz,
 .country-flag.dz {
  height: 14px;
  background-position: -1401px 0px;
}
 .country-flag.ea,
 .country-flag.ea {
  height: 14px;
  background-position: -1423px 0px;
}
 .country-flag.ec,
 .country-flag.ec {
  height: 14px;
  background-position: -1445px 0px;
}
 .country-flag.ee,
 .country-flag.ee {
  height: 13px;
  background-position: -1467px 0px;
}
 .country-flag.eg,
 .country-flag.eg {
  height: 14px;
  background-position: -1489px 0px;
}
 .country-flag.eh,
 .country-flag.eh {
  height: 10px;
  background-position: -1511px 0px;
}
 .country-flag.er,
 .country-flag.er {
  height: 10px;
  background-position: -1533px 0px;
}
 .country-flag.es,
 .country-flag.es {
  height: 14px;
  background-position: -1555px 0px;
}
 .country-flag.et,
 .country-flag.et {
  height: 10px;
  background-position: -1577px 0px;
}
 .country-flag.eu,
 .country-flag.eu {
  height: 14px;
  background-position: -1599px 0px;
}
 .country-flag.fi,
 .country-flag.fi {
  height: 12px;
  background-position: -1621px 0px;
}
 .country-flag.fj,
 .country-flag.fj {
  height: 10px;
  background-position: -1643px 0px;
}
 .country-flag.fk,
 .country-flag.fk {
  height: 10px;
  background-position: -1665px 0px;
}
 .country-flag.fm,
 .country-flag.fm {
  height: 11px;
  background-position: -1687px 0px;
}
 .country-flag.fo,
 .country-flag.fo {
  height: 15px;
  background-position: -1709px 0px;
}
 .country-flag.fr,
 .country-flag.fr {
  height: 14px;
  background-position: -1731px 0px;
}
 .country-flag.ga,
 .country-flag.ga {
  height: 15px;
  background-position: -1753px 0px;
}
 .country-flag.gb,
 .country-flag.gb {
  height: 10px;
  background-position: -1775px 0px;
}
 .country-flag.gd,
 .country-flag.gd {
  height: 12px;
  background-position: -1797px 0px;
}
 .country-flag.ge,
 .country-flag.ge {
  height: 14px;
  background-position: -1819px 0px;
}
 .country-flag.gf,
 .country-flag.gf {
  height: 14px;
  background-position: -1841px 0px;
}
 .country-flag.gg,
 .country-flag.gg {
  height: 14px;
  background-position: -1863px 0px;
}
 .country-flag.gh,
 .country-flag.gh {
  height: 14px;
  background-position: -1885px 0px;
}
 .country-flag.gi,
 .country-flag.gi {
  height: 10px;
  background-position: -1907px 0px;
}
 .country-flag.gl,
 .country-flag.gl {
  height: 14px;
  background-position: -1929px 0px;
}
 .country-flag.gm,
 .country-flag.gm {
  height: 14px;
  background-position: -1951px 0px;
}
 .country-flag.gn,
 .country-flag.gn {
  height: 14px;
  background-position: -1973px 0px;
}
 .country-flag.gp,
 .country-flag.gp {
  height: 14px;
  background-position: -1995px 0px;
}
 .country-flag.gq,
 .country-flag.gq {
  height: 14px;
  background-position: -2017px 0px;
}
 .country-flag.gr,
 .country-flag.gr {
  height: 14px;
  background-position: -2039px 0px;
}
 .country-flag.gs,
 .country-flag.gs {
  height: 10px;
  background-position: -2061px 0px;
}
 .country-flag.gt,
 .country-flag.gt {
  height: 13px;
  background-position: -2083px 0px;
}
 .country-flag.gu,
 .country-flag.gu {
  height: 11px;
  background-position: -2105px 0px;
}
 .country-flag.gw,
 .country-flag.gw {
  height: 10px;
  background-position: -2127px 0px;
}
 .country-flag.gy,
 .country-flag.gy {
  height: 12px;
  background-position: -2149px 0px;
}
 .country-flag.hk,
 .country-flag.hk {
  height: 14px;
  background-position: -2171px 0px;
}
 .country-flag.hm,
 .country-flag.hm {
  height: 10px;
  background-position: -2193px 0px;
}
 .country-flag.hn,
 .country-flag.hn {
  height: 10px;
  background-position: -2215px 0px;
}
 .country-flag.hr,
 .country-flag.hr {
  height: 10px;
  background-position: -2237px 0px;
}
 .country-flag.ht,
 .country-flag.ht {
  height: 12px;
  background-position: -2259px 0px;
}
 .country-flag.hu,
 .country-flag.hu {
  height: 10px;
  background-position: -2281px 0px;
}
 .country-flag.ic,
 .country-flag.ic {
  height: 14px;
  background-position: -2303px 0px;
}
 .country-flag.id,
 .country-flag.id {
  height: 14px;
  background-position: -2325px 0px;
}
 .country-flag.ie,
 .country-flag.ie {
  height: 10px;
  background-position: -2347px 0px;
}
 .country-flag.il,
 .country-flag.il {
  height: 15px;
  background-position: -2369px 0px;
}
 .country-flag.im,
 .country-flag.im {
  height: 10px;
  background-position: -2391px 0px;
}
 .country-flag.in,
 .country-flag.in {
  height: 14px;
  background-position: -2413px 0px;
}
 .country-flag.io,
 .country-flag.io {
  height: 10px;
  background-position: -2435px 0px;
}
 .country-flag.iq,
 .country-flag.iq {
  height: 14px;
  background-position: -2457px 0px;
}
 .country-flag.ir,
 .country-flag.ir {
  height: 12px;
  background-position: -2479px 0px;
}
 .country-flag.is,
 .country-flag.is {
  height: 15px;
  background-position: -2501px 0px;
}
 .country-flag.it,
 .country-flag.it {
  height: 14px;
  background-position: -2523px 0px;
}
 .country-flag.je,
 .country-flag.je {
  height: 12px;
  background-position: -2545px 0px;
}
 .country-flag.jm,
 .country-flag.jm {
  height: 10px;
  background-position: -2567px 0px;
}
 .country-flag.jo,
 .country-flag.jo {
  height: 10px;
  background-position: -2589px 0px;
}
 .country-flag.jp,
 .country-flag.jp {
  height: 14px;
  background-position: -2611px 0px;
}
 .country-flag.ke,
 .country-flag.ke {
  height: 14px;
  background-position: -2633px 0px;
}
 .country-flag.kg,
 .country-flag.kg {
  height: 12px;
  background-position: -2655px 0px;
}
 .country-flag.kh,
 .country-flag.kh {
  height: 13px;
  background-position: -2677px 0px;
}
 .country-flag.ki,
 .country-flag.ki {
  height: 10px;
  background-position: -2699px 0px;
}
 .country-flag.km,
 .country-flag.km {
  height: 12px;
  background-position: -2721px 0px;
}
 .country-flag.kn,
 .country-flag.kn {
  height: 14px;
  background-position: -2743px 0px;
}
 .country-flag.kp,
 .country-flag.kp {
  height: 10px;
  background-position: -2765px 0px;
}
 .country-flag.kr,
 .country-flag.kr {
  height: 14px;
  background-position: -2787px 0px;
}
 .country-flag.kw,
 .country-flag.kw {
  height: 10px;
  background-position: -2809px 0px;
}
 .country-flag.ky,
 .country-flag.ky {
  height: 10px;
  background-position: -2831px 0px;
}
 .country-flag.kz,
 .country-flag.kz {
  height: 10px;
  background-position: -2853px 0px;
}
 .country-flag.la,
 .country-flag.la {
  height: 14px;
  background-position: -2875px 0px;
}
 .country-flag.lb,
 .country-flag.lb {
  height: 14px;
  background-position: -2897px 0px;
}
 .country-flag.lc,
 .country-flag.lc {
  height: 10px;
  background-position: -2919px 0px;
}
 .country-flag.li,
 .country-flag.li {
  height: 12px;
  background-position: -2941px 0px;
}
 .country-flag.lk,
 .country-flag.lk {
  height: 10px;
  background-position: -2963px 0px;
}
 .country-flag.lr,
 .country-flag.lr {
  height: 11px;
  background-position: -2985px 0px;
}
 .country-flag.ls,
 .country-flag.ls {
  height: 14px;
  background-position: -3007px 0px;
}
 .country-flag.lt,
 .country-flag.lt {
  height: 12px;
  background-position: -3029px 0px;
}
 .country-flag.lu,
 .country-flag.lu {
  height: 12px;
  background-position: -3051px 0px;
}
 .country-flag.lv,
 .country-flag.lv {
  height: 10px;
  background-position: -3073px 0px;
}
 .country-flag.ly,
 .country-flag.ly {
  height: 10px;
  background-position: -3095px 0px;
}
 .country-flag.ma,
 .country-flag.ma {
  height: 14px;
  background-position: -3117px 0px;
}
 .country-flag.mc,
 .country-flag.mc {
  height: 15px;
  background-position: -3139px 0px;
}
 .country-flag.md,
 .country-flag.md {
  height: 10px;
  background-position: -3160px 0px;
}
 .country-flag.me,
 .country-flag.me {
  height: 10px;
  background-position: -3182px 0px;
}
 .country-flag.mf,
 .country-flag.mf {
  height: 14px;
  background-position: -3204px 0px;
}
 .country-flag.mg,
 .country-flag.mg {
  height: 14px;
  background-position: -3226px 0px;
}
 .country-flag.mh,
 .country-flag.mh {
  height: 11px;
  background-position: -3248px 0px;
}
 .country-flag.mk,
 .country-flag.mk {
  height: 10px;
  background-position: -3270px 0px;
}
 .country-flag.ml,
 .country-flag.ml {
  height: 14px;
  background-position: -3292px 0px;
}
 .country-flag.mm,
 .country-flag.mm {
  height: 14px;
  background-position: -3314px 0px;
}
 .country-flag.mn,
 .country-flag.mn {
  height: 10px;
  background-position: -3336px 0px;
}
 .country-flag.mo,
 .country-flag.mo {
  height: 14px;
  background-position: -3358px 0px;
}
 .country-flag.mp,
 .country-flag.mp {
  height: 10px;
  background-position: -3380px 0px;
}
 .country-flag.mq,
 .country-flag.mq {
  height: 14px;
  background-position: -3402px 0px;
}
 .country-flag.mr,
 .country-flag.mr {
  height: 14px;
  background-position: -3424px 0px;
}
 .country-flag.ms,
 .country-flag.ms {
  height: 10px;
  background-position: -3446px 0px;
}
 .country-flag.mt,
 .country-flag.mt {
  height: 14px;
  background-position: -3468px 0px;
}
 .country-flag.mu,
 .country-flag.mu {
  height: 14px;
  background-position: -3490px 0px;
}
 .country-flag.mv,
 .country-flag.mv {
  height: 14px;
  background-position: -3512px 0px;
}
 .country-flag.mw,
 .country-flag.mw {
  height: 14px;
  background-position: -3534px 0px;
}
 .country-flag.mx,
 .country-flag.mx {
  height: 12px;
  background-position: -3556px 0px;
}
 .country-flag.my,
 .country-flag.my {
  height: 10px;
  background-position: -3578px 0px;
}
 .country-flag.mz,
 .country-flag.mz {
  height: 14px;
  background-position: -3600px 0px;
}
 .country-flag.na,
 .country-flag.na {
  height: 14px;
  background-position: -3622px 0px;
}
 .country-flag.nc,
 .country-flag.nc {
  height: 10px;
  background-position: -3644px 0px;
}
 .country-flag.ne,
 .country-flag.ne {
  height: 15px;
  background-position: -3666px 0px;
}
 .country-flag.nf,
 .country-flag.nf {
  height: 10px;
  background-position: -3686px 0px;
}
 .country-flag.ng,
 .country-flag.ng {
  height: 10px;
  background-position: -3708px 0px;
}
 .country-flag.ni,
 .country-flag.ni {
  height: 12px;
  background-position: -3730px 0px;
}
 .country-flag.nl,
 .country-flag.nl {
  height: 14px;
  background-position: -3752px 0px;
}
 .country-flag.no,
 .country-flag.no {
  height: 15px;
  background-position: -3774px 0px;
}
 .country-flag.np,
 .country-flag.np {
  height: 15px;
  background-position: -3796px 0px;
}
 .country-flag.nr,
 .country-flag.nr {
  height: 10px;
  background-position: -3811px 0px;
}
 .country-flag.nu,
 .country-flag.nu {
  height: 10px;
  background-position: -3833px 0px;
}
 .country-flag.nz,
 .country-flag.nz {
  height: 10px;
  background-position: -3855px 0px;
}
 .country-flag.om,
 .country-flag.om {
  height: 10px;
  background-position: -3877px 0px;
}
 .country-flag.pa,
 .country-flag.pa {
  height: 14px;
  background-position: -3899px 0px;
}
 .country-flag.pe,
 .country-flag.pe {
  height: 14px;
  background-position: -3921px 0px;
}
 .country-flag.pf,
 .country-flag.pf {
  height: 14px;
  background-position: -3943px 0px;
}
 .country-flag.pg,
 .country-flag.pg {
  height: 15px;
  background-position: -3965px 0px;
}
 .country-flag.ph,
 .country-flag.ph {
  height: 10px;
  background-position: -3987px 0px;
}
 .country-flag.pk,
 .country-flag.pk {
  height: 14px;
  background-position: -4009px 0px;
}
 .country-flag.pl,
 .country-flag.pl {
  height: 13px;
  background-position: -4031px 0px;
}
 .country-flag.pm,
 .country-flag.pm {
  height: 14px;
  background-position: -4053px 0px;
}
 .country-flag.pn,
 .country-flag.pn {
  height: 10px;
  background-position: -4075px 0px;
}
 .country-flag.pr,
 .country-flag.pr {
  height: 14px;
  background-position: -4097px 0px;
}
 .country-flag.ps,
 .country-flag.ps {
  height: 10px;
  background-position: -4119px 0px;
}
 .country-flag.pt,
 .country-flag.pt {
  height: 14px;
  background-position: -4141px 0px;
}
 .country-flag.pw,
 .country-flag.pw {
  height: 13px;
  background-position: -4163px 0px;
}
 .country-flag.py,
 .country-flag.py {
  height: 11px;
  background-position: -4185px 0px;
}
 .country-flag.qa,
 .country-flag.qa {
  height: 8px;
  background-position: -4207px 0px;
}
 .country-flag.re,
 .country-flag.re {
  height: 14px;
  background-position: -4229px 0px;
}
 .country-flag.ro,
 .country-flag.ro {
  height: 14px;
  background-position: -4251px 0px;
}
 .country-flag.rs,
 .country-flag.rs {
  height: 14px;
  background-position: -4273px 0px;
}
 .country-flag.ru,
 .country-flag.ru {
  height: 14px;
  background-position: -4295px 0px;
}
 .country-flag.rw,
 .country-flag.rw {
  height: 14px;
  background-position: -4317px 0px;
}
 .country-flag.sa,
 .country-flag.sa {
  height: 14px;
  background-position: -4339px 0px;
}
 .country-flag.sb,
 .country-flag.sb {
  height: 10px;
  background-position: -4361px 0px;
}
 .country-flag.sc,
 .country-flag.sc {
  height: 10px;
  background-position: -4383px 0px;
}
 .country-flag.sd,
 .country-flag.sd {
  height: 10px;
  background-position: -4405px 0px;
}
 .country-flag.se,
 .country-flag.se {
  height: 13px;
  background-position: -4427px 0px;
}
 .country-flag.sg,
 .country-flag.sg {
  height: 14px;
  background-position: -4449px 0px;
}
 .country-flag.sh,
 .country-flag.sh {
  height: 10px;
  background-position: -4471px 0px;
}
 .country-flag.si,
 .country-flag.si {
  height: 10px;
  background-position: -4493px 0px;
}
 .country-flag.sj,
 .country-flag.sj {
  height: 15px;
  background-position: -4515px 0px;
}
 .country-flag.sk,
 .country-flag.sk {
  height: 14px;
  background-position: -4537px 0px;
}
 .country-flag.sl,
 .country-flag.sl {
  height: 14px;
  background-position: -4559px 0px;
}
 .country-flag.sm,
 .country-flag.sm {
  height: 15px;
  background-position: -4581px 0px;
}
 .country-flag.sn,
 .country-flag.sn {
  height: 14px;
  background-position: -4603px 0px;
}
 .country-flag.so,
 .country-flag.so {
  height: 14px;
  background-position: -4625px 0px;
}
 .country-flag.sr,
 .country-flag.sr {
  height: 14px;
  background-position: -4647px 0px;
}
 .country-flag.ss,
 .country-flag.ss {
  height: 10px;
  background-position: -4669px 0px;
}
 .country-flag.st,
 .country-flag.st {
  height: 10px;
  background-position: -4691px 0px;
}
 .country-flag.sv,
 .country-flag.sv {
  height: 12px;
  background-position: -4713px 0px;
}
 .country-flag.sx,
 .country-flag.sx {
  height: 14px;
  background-position: -4735px 0px;
}
 .country-flag.sy,
 .country-flag.sy {
  height: 14px;
  background-position: -4757px 0px;
}
 .country-flag.sz,
 .country-flag.sz {
  height: 14px;
  background-position: -4779px 0px;
}
 .country-flag.ta,
 .country-flag.ta {
  height: 10px;
  background-position: -4801px 0px;
}
 .country-flag.tc,
 .country-flag.tc {
  height: 10px;
  background-position: -4823px 0px;
}
 .country-flag.td,
 .country-flag.td {
  height: 14px;
  background-position: -4845px 0px;
}
 .country-flag.tf,
 .country-flag.tf {
  height: 14px;
  background-position: -4867px 0px;
}
 .country-flag.tg,
 .country-flag.tg {
  height: 13px;
  background-position: -4889px 0px;
}
 .country-flag.th,
 .country-flag.th {
  height: 14px;
  background-position: -4911px 0px;
}
 .country-flag.tj,
 .country-flag.tj {
  height: 10px;
  background-position: -4933px 0px;
}
 .country-flag.tk,
 .country-flag.tk {
  height: 10px;
  background-position: -4955px 0px;
}
 .country-flag.tl,
 .country-flag.tl {
  height: 10px;
  background-position: -4977px 0px;
}
 .country-flag.tm,
 .country-flag.tm {
  height: 14px;
  background-position: -4999px 0px;
}
 .country-flag.tn,
 .country-flag.tn {
  height: 14px;
  background-position: -5021px 0px;
}
 .country-flag.to,
 .country-flag.to {
  height: 10px;
  background-position: -5043px 0px;
}
 .country-flag.tr,
 .country-flag.tr {
  height: 14px;
  background-position: -5065px 0px;
}
 .country-flag.tt,
 .country-flag.tt {
  height: 12px;
  background-position: -5087px 0px;
}
 .country-flag.tv,
 .country-flag.tv {
  height: 10px;
  background-position: -5109px 0px;
}
 .country-flag.tw,
 .country-flag.tw {
  height: 14px;
  background-position: -5131px 0px;
}
 .country-flag.tz,
 .country-flag.tz {
  height: 14px;
  background-position: -5153px 0px;
}
 .country-flag.ua,
 .country-flag.ua {
  height: 14px;
  background-position: -5175px 0px;
}
 .country-flag.ug,
 .country-flag.ug {
  height: 14px;
  background-position: -5197px 0px;
}
 .country-flag.um,
 .country-flag.um {
  height: 11px;
  background-position: -5219px 0px;
}
 .country-flag.un,
 .country-flag.un {
  height: 14px;
  background-position: -5241px 0px;
}
 .country-flag.us,
 .country-flag.us {
  height: 11px;
  background-position: -5263px 0px;
}
 .country-flag.uy,
 .country-flag.uy {
  height: 14px;
  background-position: -5285px 0px;
}
 .country-flag.uz,
 .country-flag.uz {
  height: 10px;
  background-position: -5307px 0px;
}
 .country-flag.va,
 .country-flag.va {
  height: 15px;
  background-position: -5329px 0px;
}
 .country-flag.vc,
 .country-flag.vc {
  height: 14px;
  background-position: -5346px 0px;
}
 .country-flag.ve,
 .country-flag.ve {
  height: 14px;
  background-position: -5368px 0px;
}
 .country-flag.vg,
 .country-flag.vg {
  height: 10px;
  background-position: -5390px 0px;
}
 .country-flag.vi,
 .country-flag.vi {
  height: 14px;
  background-position: -5412px 0px;
}
 .country-flag.vn,
 .country-flag.vn {
  height: 14px;
  background-position: -5434px 0px;
}
 .country-flag.vu,
 .country-flag.vu {
  height: 12px;
  background-position: -5456px 0px;
} 
 .country-flag.wf,
 .country-flag.wf {
  height: 14px;
  background-position: -5478px 0px;
}
 .country-flag.ws,
 .country-flag.ws {
  height: 10px;
  background-position: -5500px 0px;
}
 .country-flag.xk,
 .country-flag.xk {
  height: 15px;
  background-position: -5522px 0px;
}
 .country-flag.ye,
 .country-flag.ye {
  height: 14px;
  background-position: -5544px 0px;
}
 .country-flag.yt,
 .country-flag.yt {
  height: 14px;
  background-position: -5566px 0px;
}
 .country-flag.za,
 .country-flag.za {
  height: 14px;
  background-position: -5588px 0px;
}
 .country-flag.zm,
 .country-flag.zm {
  height: 14px;
  background-position: -5610px 0px;
}
 .country-flag.zw,
 .country-flag.zw {
  height: 10px;
  background-position: -5632px 0px;
}