.custom-sticky-style {
  position: sticky;
  top: 70px;
  background: #fbfbfb;
  z-index: 2;
}
.interior-home .video-tab {
  background: none;
  border: none;
  padding: 40px 0 20px;
  color: #000;
  opacity: 0.4;
  cursor: pointer;
  position: relative;
  -webkit-align-items: center;
}
.interior-home .video-tab.active {
  opacity: 1;
}
.interior-home .video-tab.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 50%;
  background: black;
  position: absolute;
  bottom: -2px;
  left: 49%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 4px;
}
.template-page-interior-bedroom #monolith,
.template-page-interior-bedroom #voyage,
.template-page-interior-bedroom #voyage-royal,
.template-page-interior-chair #elite,
.template-page-interior-chair #joelle,
.template-page-interior-chair #kate,
.template-page-interior-chair #club,
.template-page-interior-complements #essence,
.template-page-interior-complements #valet-de-nuit,
.template-page-interior-complements #brise-screen,
.template-page-interior-lighting #diamond,
.template-page-interior-lighting #narcisse,
.template-page-interior-lighting #light-pillar,
.template-page-interior-sofas #byblos,
.template-page-interior-sofas #palace,
.template-page-interior-sofas #legacy,
.template-page-interior-sofas #majesty,
.template-page-interior-sofas #monolith,
.template-page-interior-sofas #elite,
.template-page-inetrior-surfce-collection #glamour,
.template-page-inetrior-surfce-collection #liquid-metal,
.template-page-inetrior-surfce-collection #royal,
.template-page-inetrior-surfce-collection #soft-lux,
.template-page-inetrior-surfce-collection #travertinum,
.template-page-interior-tables #dunes,
.template-page-interior-tables #canova,
.template-page-interior-tables #zenith,
.template-page-interior-tables #palace,
.template-page-interior-tables #monogram,
.template-page-interior-tablewear #baalbek,
.template-page-interior-tablewear #burgundy,
.template-page-interior-tablewear #white-garden,
.template-page-interior-tablewear #opera,
.template-page-interior-tablewear #novencento,
.template-page-interior-tablewear #antique-chinoise,
.template-page-interior-tablewear #golden-sumi-e,
.template-page-interior-wellness-collection #bath-tubs,
.template-page-interior-wellness-collection #wash-basins,
.template-page-interior-wellness-collection #faucets,
.template-page-interior-wellness-collection #mirrors {
  padding: unset;
}
.template-page-interior-bedroom #monolith .row,
.template-page-interior-bedroom #voyage .row,
.template-page-interior-bedroom #voyage-royal .row,
.template-page-interior-chair #elite .row,
.template-page-interior-chair #joelle .row,
.template-page-interior-chair #kate .row,
.template-page-interior-chair #club .row,
.template-page-interior-complements #essence .row,
.template-page-interior-complements #valet-de-nuit .row,
.template-page-interior-complements #brise-screen .row,
.template-page-interior-lighting #diamond .row,
.template-page-interior-lighting #narcisse .row,
.template-page-interior-lighting #light-pillar .row,
.template-page-interior-sofas #byblos .row,
.template-page-interior-sofas #palace .row,
.template-page-interior-sofas #legacy .row,
.template-page-interior-sofas #majesty .row,
.template-page-interior-sofas #monolith .row,
.template-page-interior-sofas #elite .row,
.template-page-inetrior-surfce-collection #glamour .row,
.template-page-inetrior-surfce-collection #liquid-metal .row,
.template-page-inetrior-surfce-collection #royal .row,
.template-page-inetrior-surfce-collection #soft-lux .row,
.template-page-inetrior-surfce-collection #travertinum .row,
.template-page-interior-tables #dunes .row,
.template-page-interior-tables #canova .row,
.template-page-interior-tables #zenith .row,
.template-page-interior-tables #palace .row,
.template-page-interior-tables #monogram .row,
.template-page-interior-tablewear #baalbek .row,
.template-page-interior-tablewear #burgundy .row,
.template-page-interior-tablewear #white-garden .row,
.template-page-interior-tablewear #opera .row,
.template-page-interior-tablewear #novencento .row,
.template-page-interior-tablewear #antique-chinoise .row,
.template-page-interior-tablewear #golden-sumi-e .row,
.template-page-interior-wellness-collection #bath-tubs .row,
.template-page-interior-wellness-collection #wash-basins .row,
.template-page-interior-wellness-collection #faucets .row,
.template-page-interior-wellness-collection #mirrors .row {
  padding: unset;
  max-width: 100%;
}
.template-page-interior-bedroom #monolith .text-with-line,
.template-page-interior-bedroom #voyage .text-with-line,
.template-page-interior-bedroom #voyage-royal .text-with-line,
.template-page-interior-chair #elite .text-with-line,
.template-page-interior-chair #joelle .text-with-line,
.template-page-interior-chair #kate .text-with-line,
.template-page-interior-chair #club .text-with-line,
.template-page-interior-complements #essence .text-with-line,
.template-page-interior-complements #valet-de-nuit .text-with-line,
.template-page-interior-complements #brise-screen .text-with-line,
.template-page-interior-lighting #diamond .text-with-line,
.template-page-interior-lighting #narcisse .text-with-line,
.template-page-interior-lighting #light-pillar .text-with-line,
.template-page-interior-sofas #byblos .text-with-line,
.template-page-interior-sofas #palace .text-with-line,
.template-page-interior-sofas #legacy .text-with-line,
.template-page-interior-sofas #majesty .text-with-line,
.template-page-interior-sofas #monolith .text-with-line,
.template-page-interior-sofas #elite .text-with-line,
.template-page-inetrior-surfce-collection #glamour .text-with-line,
.template-page-inetrior-surfce-collection #liquid-metal .text-with-line,
.template-page-inetrior-surfce-collection #royal .text-with-line,
.template-page-inetrior-surfce-collection #soft-lux .text-with-line,
.template-page-inetrior-surfce-collection #travertinum .text-with-line,
.template-page-interior-tables #dunes .text-with-line,
.template-page-interior-tables #canova .text-with-line,
.template-page-interior-tables #zenith .text-with-line,
.template-page-interior-tables #palace .text-with-line,
.template-page-interior-tables #monogram .text-with-line,
.template-page-interior-tablewear #baalbek .text-with-line,
.template-page-interior-tablewear #burgundy .text-with-line,
.template-page-interior-tablewear #white-garden .text-with-line,
.template-page-interior-tablewear #opera .text-with-line,
.template-page-interior-tablewear #novencento .text-with-line,
.template-page-interior-tablewear #antique-chinoise .text-with-line,
.template-page-interior-tablewear #golden-sumi-e .text-with-line,
.template-page-interior-wellness-collection #bath-tubs .text-with-line,
.template-page-interior-wellness-collection #wash-basins .text-with-line,
.template-page-interior-wellness-collection #faucets .text-with-line,
.template-page-interior-wellness-collection #mirrors .text-with-line {
  margin: 0 auto;
  padding: 0 35px;
  max-width: 1440px;
}

.template-page-interior-bedroom #monolith i.fa.fa-chevron-left,
.template-page-interior-bedroom #voyage i.fa.fa-chevron-left,
.template-page-interior-bedroom #voyage-royal i.fa.fa-chevron-left,
.template-page-interior-chair #elite i.fa.fa-chevron-left,
.template-page-interior-chair #joelle i.fa.fa-chevron-left,
.template-page-interior-chair #kate i.fa.fa-chevron-left,
.template-page-interior-chair #club i.fa.fa-chevron-left,
.template-page-interior-complements #essence i.fa.fa-chevron-left,
.template-page-interior-complements #valet-de-nuit i.fa.fa-chevron-left,
.template-page-interior-complements #brise-screen i.fa.fa-chevron-left,
.template-page-interior-lighting #diamond i.fa.fa-chevron-left,
.template-page-interior-lighting #narcisse i.fa.fa-chevron-left,
.template-page-interior-lighting #light-pillar i.fa.fa-chevron-left,
.template-page-interior-sofas #byblos i.fa.fa-chevron-left,
.template-page-interior-sofas #palace i.fa.fa-chevron-left,
.template-page-interior-sofas #legacy i.fa.fa-chevron-left,
.template-page-interior-sofas #majesty i.fa.fa-chevron-left,
.template-page-interior-sofas #monolith i.fa.fa-chevron-left,
.template-page-interior-sofas #elite i.fa.fa-chevron-left,
.template-page-inetrior-surfce-collection #glamour i.fa.fa-chevron-left,
.template-page-inetrior-surfce-collection #liquid-metal i.fa.fa-chevron-left,
.template-page-inetrior-surfce-collection #royal i.fa.fa-chevron-left,
.template-page-inetrior-surfce-collection #soft-lux i.fa.fa-chevron-left,
.template-page-inetrior-surfce-collection #travertinum i.fa.fa-chevron-left,
.template-page-interior-tables #dunes i.fa.fa-chevron-left,
.template-page-interior-tables #canova i.fa.fa-chevron-left,
.template-page-interior-tables #zenith i.fa.fa-chevron-left,
.template-page-interior-tables #palace i.fa.fa-chevron-left,
.template-page-interior-tables #monogram i.fa.fa-chevron-left,
.template-page-interior-tablewear #baalbek i.fa.fa-chevron-left,
.template-page-interior-tablewear #burgundy i.fa.fa-chevron-left,
.template-page-interior-tablewear #white-garden i.fa.fa-chevron-left,
.template-page-interior-tablewear #opera i.fa.fa-chevron-left,
.template-page-interior-tablewear #novencento i.fa.fa-chevron-left,
.template-page-interior-tablewear #antique-chinoise i.fa.fa-chevron-left,
.template-page-interior-tablewear #golden-sumi-e i.fa.fa-chevron-left,
.template-page-interior-wellness-collection #bath-tubs i.fa.fa-chevron-left,
.template-page-interior-wellness-collection #wash-basins i.fa.fa-chevron-left,
.template-page-interior-wellness-collection #faucets i.fa.fa-chevron-left,
.template-page-interior-wellness-collection #mirrors i.fa.fa-chevron-left {
  left: 100px;
}
.template-page-interior-bedroom #monolith i.fa.fa-chevron-right,
.template-page-interior-bedroom #voyage i.fa.fa-chevron-right,
.template-page-interior-bedroom #voyage-royal i.fa.fa-chevron-right,
.template-page-interior-chair #elite i.fa.fa-chevron-right,
.template-page-interior-chair #joelle i.fa.fa-chevron-right,
.template-page-interior-chair #kate i.fa.fa-chevron-right,
.template-page-interior-chair #club i.fa.fa-chevron-right,
.template-page-interior-complements #essence i.fa.fa-chevron-right,
.template-page-interior-complements #valet-de-nuit i.fa.fa-chevron-right,
.template-page-interior-complements #brise-screen i.fa.fa-chevron-right,
.template-page-interior-lighting #diamond i.fa.fa-chevron-right,
.template-page-interior-lighting #narcisse i.fa.fa-chevron-right,
.template-page-interior-lighting #light-pillar i.fa.fa-chevron-right,
.template-page-interior-sofas #byblos i.fa.fa-chevron-right,
.template-page-interior-sofas #palace i.fa.fa-chevron-right,
.template-page-interior-sofas #legacy i.fa.fa-chevron-right,
.template-page-interior-sofas #majesty i.fa.fa-chevron-right,
.template-page-interior-sofas #monolith i.fa.fa-chevron-right,
.template-page-interior-sofas #elite i.fa.fa-chevron-right,
.template-page-inetrior-surfce-collection #glamour i.fa.fa-chevron-right,
.template-page-inetrior-surfce-collection #liquid-metal i.fa.fa-chevron-right,
.template-page-inetrior-surfce-collection #royal i.fa.fa-chevron-right,
.template-page-inetrior-surfce-collection #soft-lux i.fa.fa-chevron-right,
.template-page-inetrior-surfce-collection #travertinum i.fa.fa-chevron-right,
.template-page-interior-tables #dunes i.fa.fa-chevron-right,
.template-page-interior-tables #canova i.fa.fa-chevron-right,
.template-page-interior-tables #zenith i.fa.fa-chevron-right,
.template-page-interior-tables #palace i.fa.fa-chevron-right,
.template-page-interior-tables #monogram i.fa.fa-chevron-right,
.template-page-interior-tablewear #baalbek i.fa.fa-chevron-right,
.template-page-interior-tablewear #burgundy i.fa.fa-chevron-right,
.template-page-interior-tablewear #white-garden i.fa.fa-chevron-right,
.template-page-interior-tablewear #opera i.fa.fa-chevron-right,
.template-page-interior-tablewear #novencento i.fa.fa-chevron-right,
.template-page-interior-tablewear #antique-chinoise i.fa.fa-chevron-right,
.template-page-interior-tablewear #golden-sumi-e i.fa.fa-chevron-right,
.template-page-interior-wellness-collection #bath-tubs i.fa.fa-chevron-right,
.template-page-interior-wellness-collection #wash-basins i.fa.fa-chevron-right,
.template-page-interior-wellness-collection #faucets i.fa.fa-chevron-right,
.template-page-interior-wellness-collection #mirrors i.fa.fa-chevron-right {
  right: 100px;
}
@media screen and (min-width: 1538px) {
  #appointments {
    padding: unset;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1537px) {
  /* #appointments {
    padding: unset;
  } */
  .template-page-interior-bedroom #monolith .row,
  .template-page-interior-bedroom #voyage .row,
  .template-page-interior-bedroom #voyage-royal .row,
  .template-page-interior-chair #elite .row,
  .template-page-interior-chair #joelle .row,
  .template-page-interior-chair #kate .row,
  .template-page-interior-chair #club .row,
  .template-page-interior-complements #essence .row,
  .template-page-interior-complements #valet-de-nuit .row,
  .template-page-interior-complements #brise-screen .row,
  .template-page-interior-lighting #diamond .row,
  .template-page-interior-lighting #narcisse .row,
  .template-page-interior-lighting #light-pillar .row,
  .template-page-interior-sofas #byblos .row,
  .template-page-interior-sofas #palace .row,
  .template-page-interior-sofas #legacy .row,
  .template-page-interior-sofas #majesty .row,
  .template-page-interior-sofas #monolith .row,
  .template-page-interior-sofas #elite .row,
  .template-page-inetrior-surfce-collection #glamour .row,
  .template-page-inetrior-surfce-collection #liquid-metal .row,
  .template-page-inetrior-surfce-collection #royal .row,
  .template-page-inetrior-surfce-collection #soft-lux .row,
  .template-page-inetrior-surfce-collection #travertinum .row,
  .template-page-interior-tables #dunes .row,
  .template-page-interior-tables #canova .row,
  .template-page-interior-tables #zenith .row,
  .template-page-interior-tables #palace .row,
  .template-page-interior-tables #monogram .row,
  .template-page-interior-tablewear #baalbek .row,
  .template-page-interior-tablewear #burgundy .row,
  .template-page-interior-tablewear #white-garden .row,
  .template-page-interior-tablewear #opera .row,
  .template-page-interior-tablewear #novencento .row,
  .template-page-interior-tablewear #antique-chinoise .row,
  .template-page-interior-tablewear #golden-sumi-e .row,
  .template-page-interior-wellness-collection #bath-tubs .row,
  .template-page-interior-wellness-collection #wash-basins .row,
  .template-page-interior-wellness-collection #faucets .row,
  .template-page-interior-wellness-collection #mirrors .row {
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .template-page-interior-bedroom #monolith i.fa.fa-chevron-left,
  .template-page-interior-bedroom #voyage i.fa.fa-chevron-left,
  .template-page-interior-bedroom #voyage-royal i.fa.fa-chevron-left,
  .template-page-interior-chair #elite i.fa.fa-chevron-left,
  .template-page-interior-chair #joelle i.fa.fa-chevron-left,
  .template-page-interior-chair #kate i.fa.fa-chevron-left,
  .template-page-interior-chair #club i.fa.fa-chevron-left,
  .template-page-interior-complements #essence i.fa.fa-chevron-left,
  .template-page-interior-complements #valet-de-nuit i.fa.fa-chevron-left,
  .template-page-interior-complements #brise-screen i.fa.fa-chevron-left,
  .template-page-interior-lighting #diamond i.fa.fa-chevron-left,
  .template-page-interior-lighting #narcisse i.fa.fa-chevron-left,
  .template-page-interior-lighting #light-pillar i.fa.fa-chevron-left,
  .template-page-interior-sofas #byblos i.fa.fa-chevron-left,
  .template-page-interior-sofas #palace i.fa.fa-chevron-left,
  .template-page-interior-sofas #legacy i.fa.fa-chevron-left,
  .template-page-interior-sofas #majesty i.fa.fa-chevron-left,
  .template-page-interior-sofas #monolith i.fa.fa-chevron-left,
  .template-page-interior-sofas #elite i.fa.fa-chevron-left,
  .template-page-inetrior-surfce-collection #glamour i.fa.fa-chevron-left,
  .template-page-inetrior-surfce-collection #liquid-metal i.fa.fa-chevron-left,
  .template-page-inetrior-surfce-collection #royal i.fa.fa-chevron-left,
  .template-page-inetrior-surfce-collection #soft-lux i.fa.fa-chevron-left,
  .template-page-inetrior-surfce-collection #travertinum i.fa.fa-chevron-left,
  .template-page-interior-tables #dunes i.fa.fa-chevron-left,
  .template-page-interior-tables #canova i.fa.fa-chevron-left,
  .template-page-interior-tables #zenith i.fa.fa-chevron-left,
  .template-page-interior-tables #palace i.fa.fa-chevron-left,
  .template-page-interior-tables #monogram i.fa.fa-chevron-left,
  .template-page-interior-tablewear #baalbek i.fa.fa-chevron-left,
  .template-page-interior-tablewear #burgundy i.fa.fa-chevron-left,
  .template-page-interior-tablewear #white-garden i.fa.fa-chevron-left,
  .template-page-interior-tablewear #opera i.fa.fa-chevron-left,
  .template-page-interior-tablewear #novencento i.fa.fa-chevron-left,
  .template-page-interior-tablewear #antique-chinoise i.fa.fa-chevron-left,
  .template-page-interior-tablewear #golden-sumi-e i.fa.fa-chevron-left,
  .template-page-interior-wellness-collection #bath-tubs i.fa.fa-chevron-left,
  .template-page-interior-wellness-collection #wash-basins i.fa.fa-chevron-left,
  .template-page-interior-wellness-collection #faucets i.fa.fa-chevron-left,
  .template-page-interior-wellness-collection #mirrors i.fa.fa-chevron-left {
    left: 7%;
  }
  .template-page-interior-bedroom #monolith i.fa.fa-chevron-right,
  .template-page-interior-bedroom #voyage i.fa.fa-chevron-right,
  .template-page-interior-bedroom #voyage-royal i.fa.fa-chevron-right,
  .template-page-interior-chair #elite i.fa.fa-chevron-right,
  .template-page-interior-chair #joelle i.fa.fa-chevron-right,
  .template-page-interior-chair #kate i.fa.fa-chevron-right,
  .template-page-interior-chair #club i.fa.fa-chevron-right,
  .template-page-interior-complements #essence i.fa.fa-chevron-right,
  .template-page-interior-complements #valet-de-nuit i.fa.fa-chevron-right,
  .template-page-interior-complements #brise-screen i.fa.fa-chevron-right,
  .template-page-interior-lighting #diamond i.fa.fa-chevron-right,
  .template-page-interior-lighting #narcisse i.fa.fa-chevron-right,
  .template-page-interior-lighting #light-pillar i.fa.fa-chevron-right,
  .template-page-interior-sofas #byblos i.fa.fa-chevron-right,
  .template-page-interior-sofas #palace i.fa.fa-chevron-right,
  .template-page-interior-sofas #legacy i.fa.fa-chevron-right,
  .template-page-interior-sofas #majesty i.fa.fa-chevron-right,
  .template-page-interior-sofas #monolith i.fa.fa-chevron-right,
  .template-page-interior-sofas #elite i.fa.fa-chevron-right,
  .template-page-inetrior-surfce-collection #glamour i.fa.fa-chevron-right,
  .template-page-inetrior-surfce-collection #liquid-metal i.fa.fa-chevron-right,
  .template-page-inetrior-surfce-collection #royal i.fa.fa-chevron-right,
  .template-page-inetrior-surfce-collection #soft-lux i.fa.fa-chevron-right,
  .template-page-inetrior-surfce-collection #travertinum i.fa.fa-chevron-right,
  .template-page-interior-tables #dunes i.fa.fa-chevron-right,
  .template-page-interior-tables #canova i.fa.fa-chevron-right,
  .template-page-interior-tables #zenith i.fa.fa-chevron-right,
  .template-page-interior-tables #palace i.fa.fa-chevron-right,
  .template-page-interior-tables #monogram i.fa.fa-chevron-right,
  .template-page-interior-tablewear #baalbek i.fa.fa-chevron-right,
  .template-page-interior-tablewear #burgundy i.fa.fa-chevron-right,
  .template-page-interior-tablewear #white-garden i.fa.fa-chevron-right,
  .template-page-interior-tablewear #opera i.fa.fa-chevron-right,
  .template-page-interior-tablewear #novencento i.fa.fa-chevron-right,
  .template-page-interior-tablewear #antique-chinoise i.fa.fa-chevron-right,
  .template-page-interior-tablewear #golden-sumi-e i.fa.fa-chevron-right,
  .template-page-interior-wellness-collection #bath-tubs i.fa.fa-chevron-right,
  .template-page-interior-wellness-collection
    #wash-basins
    i.fa.fa-chevron-right,
  .template-page-interior-wellness-collection #faucets i.fa.fa-chevron-right,
  .template-page-interior-wellness-collection #mirrors i.fa.fa-chevron-right {
    right: 7%;
  }
}
@media screen and (max-width: 768px) {
  .template-page-interior-sofas #byblos,
  .template-page-interior-sofas #palace,
  .template-page-interior-sofas #legacy,
  .template-page-interior-sofas #majesty,
  .template-page-interior-sofas #monolith,
  .template-page-interior-sofas #elite,
  .template-page-interior-bedroom #monolith,
  .template-page-interior-bedroom #voyage,
  .template-page-interior-bedroom #voyage-royal,
  .template-page-interior-chair #elite,
  .template-page-interior-chair #joelle,
  .template-page-interior-chair #kate,
  .template-page-interior-chair #club,
  .template-page-interior-complements #essence,
  .template-page-interior-complements #valet-de-nuit,
  .template-page-interior-complements #brise-screen,
  .template-page-interior-lighting #diamond,
  .template-page-interior-lighting #narcisse,
  .template-page-interior-lighting #light-pillar,
  .template-page-inetrior-surfce-collection #glamour,
  .template-page-inetrior-surfce-collection #liquid-metal,
  .template-page-inetrior-surfce-collection #royal,
  .template-page-inetrior-surfce-collection #soft-lux,
  .template-page-inetrior-surfce-collection #travertinum,
  .template-page-interior-tables #dunes,
  .template-page-interior-tables #canova,
  .template-page-interior-tables #zenith,
  .template-page-interior-tables #palace,
  .template-page-interior-tables #monogram,
  .template-page-interior-tablewear #baalbek,
  .template-page-interior-tablewear #burgundy,
  .template-page-interior-tablewear #white-garden,
  .template-page-interior-tablewear #opera,
  .template-page-interior-tablewear #novencento,
  .template-page-interior-tablewear #antique-chinoise,
  .template-page-interior-tablewear #golden-sumi-e,
  .template-page-interior-wellness-collection #bath-tubs,
  .template-page-interior-wellness-collection #wash-basins,
  .template-page-interior-wellness-collection #faucets,
  .template-page-interior-wellness-collection #mirrors {
    padding: unset;
  }
  .template-page-interior-sofas #byblos .row,
  .template-page-interior-sofas #palace .row,
  .template-page-interior-sofas #legacy .row,
  .template-page-interior-sofas #majesty .row,
  .template-page-interior-sofas #monolith .row,
  .template-page-interior-sofas #elite .row,
  .template-page-interior-bedroom #monolith .row,
  .template-page-interior-bedroom #voyage .row,
  .template-page-interior-bedroom #voyage-royal .row,
  .template-page-interior-chair #elite .row,
  .template-page-interior-chair #joelle .row,
  .template-page-interior-chair #kate .row,
  .template-page-interior-chair #club .row,
  .template-page-interior-complements #essence .row,
  .template-page-interior-complements #valet-de-nuit .row,
  .template-page-interior-complements #brise-screen .row,
  .template-page-interior-lighting #diamond .row,
  .template-page-interior-lighting #narcisse .row,
  .template-page-interior-lighting #light-pillar .row,
  .template-page-inetrior-surfce-collection #glamour .row,
  .template-page-inetrior-surfce-collection #liquid-metal .row,
  .template-page-inetrior-surfce-collection #royal .row,
  .template-page-inetrior-surfce-collection #soft-lux .row,
  .template-page-inetrior-surfce-collection #travertinum .row,
  .template-page-interior-tables #dunes .row,
  .template-page-interior-tables #canova .row,
  .template-page-interior-tables #zenith .row,
  .template-page-interior-tables #palace .row,
  .template-page-interior-tables #monogram .row,
  .template-page-interior-tablewear #baalbek .row,
  .template-page-interior-tablewear #burgundy .row,
  .template-page-interior-tablewear #white-garden .row,
  .template-page-interior-tablewear #opera .row,
  .template-page-interior-tablewear #novencento .row,
  .template-page-interior-tablewear #antique-chinoise .row,
  .template-page-interior-tablewear #golden-sumi-e .row,
  .template-page-interior-wellness-collection #bath-tubs .row,
  .template-page-interior-wellness-collection #wash-basins .row,
  .template-page-interior-wellness-collection #faucets .row,
  .template-page-interior-wellness-collection #mirrors .row {
    padding: unset;
  }
  .template-page-interior-sofas #byblos .row .columns,
  .template-page-interior-sofas #palace .row .columns,
  .template-page-interior-sofas #legacy .row .columns,
  .template-page-interior-sofas #majesty .row .columns,
  .template-page-interior-sofas #monolith .row .columns,
  .template-page-interior-sofas #elite .row .columns,
  .template-page-interior-bedroom #monolith .row .columns,
  .template-page-interior-bedroom #voyage .row .columns,
  .template-page-interior-bedroom #voyage-royal .row .columns,
  .template-page-interior-chair #elite .row .columns,
  .template-page-interior-chair #joelle .row .columns,
  .template-page-interior-chair #kate .row .columns,
  .template-page-interior-chair #club .row .columns,
  .template-page-interior-complements #essence .row .columns,
  .template-page-interior-complements #valet-de-nuit .row .columns,
  .template-page-interior-complements #brise-screen .row .columns,
  .template-page-interior-lighting #diamond .row .columns,
  .template-page-interior-lighting #narcisse .row .columns,
  .template-page-interior-lighting #light-pillar .row .columns,
  .template-page-inetrior-surfce-collection #glamour .row .columns,
  .template-page-inetrior-surfce-collection #liquid-metal .row .columns,
  .template-page-inetrior-surfce-collection #royal .row .columns,
  .template-page-inetrior-surfce-collection #soft-lux .row .columns,
  .template-page-inetrior-surfce-collection #travertinum .row .columns,
  .template-page-interior-tables #dunes .row .columns,
  .template-page-interior-tables #canova .row .columns,
  .template-page-interior-tables #zenith .row .columns,
  .template-page-interior-tables #palace .row .columns,
  .template-page-interior-tables #monogram .row .columns,
  .template-page-interior-tablewear #baalbek .row .columns,
  .template-page-interior-tablewear #burgundy .row .columns,
  .template-page-interior-tablewear #white-garden .row .columns,
  .template-page-interior-tablewear #opera .row .columns,
  .template-page-interior-tablewear #novencento .row .columns,
  .template-page-interior-tablewear #antique-chinoise .row .columns,
  .template-page-interior-tablewear #golden-sumi-e .row .columns,
  .template-page-interior-wellness-collection #bath-tubs .row .columns,
  .template-page-interior-wellness-collection #wash-basins .row .columns,
  .template-page-interior-wellness-collection #faucets .row .columns,
  .template-page-interior-wellness-collection #mirrors .row .columns {
    padding: unset;
  }
  .template-page-interior-sofas #byblos .row .text-with-line,
  .template-page-interior-sofas #palace .row .text-with-line,
  .template-page-interior-sofas #legacy .row .text-with-line,
  .template-page-interior-sofas #majesty .row .text-with-line,
  .template-page-interior-sofas #monolith .row .text-with-line,
  .template-page-interior-sofas #elite .row .text-with-line,
  .template-page-interior-bedroom #monolith .row .text-with-line,
  .template-page-interior-bedroom #voyage .row .text-with-line,
  .template-page-interior-bedroom #voyage-royal .row .text-with-line,
  .template-page-interior-chair #elite .row .text-with-line,
  .template-page-interior-chair #joelle .row .text-with-line,
  .template-page-interior-chair #kate .row .text-with-line,
  .template-page-interior-chair #club .row .text-with-line,
  .template-page-interior-complements #essence .row .text-with-line,
  .template-page-interior-complements #valet-de-nuit .row .text-with-line,
  .template-page-interior-complements #brise-screen .row .text-with-line,
  .template-page-interior-lighting #diamond .row .text-with-line,
  .template-page-interior-lighting #narcisse .row .text-with-line,
  .template-page-interior-lighting #light-pillar .row .text-with-line,
  .template-page-inetrior-surfce-collection #glamour .row .text-with-line,
  .template-page-inetrior-surfce-collection #liquid-metal .row .text-with-line,
  .template-page-inetrior-surfce-collection #royal .row .text-with-line,
  .template-page-inetrior-surfce-collection #soft-lux .row .text-with-line,
  .template-page-inetrior-surfce-collection #travertinum .row .text-with-line,
  .template-page-interior-tables #dunes .row .text-with-line,
  .template-page-interior-tables #canova .row .text-with-line,
  .template-page-interior-tables #zenith .row .text-with-line,
  .template-page-interior-tables #palace .row .text-with-line,
  .template-page-interior-tables #monogram .row .text-with-line,
  .template-page-interior-tablewear #baalbek .row .text-with-line,
  .template-page-interior-tablewear #burgundy .row .text-with-line,
  .template-page-interior-tablewear #white-garden .row .text-with-line,
  .template-page-interior-tablewear #opera .row .text-with-line,
  .template-page-interior-tablewear #novencento .row .text-with-line,
  .template-page-interior-tablewear #antique-chinoise .row .text-with-line,
  .template-page-interior-tablewear #golden-sumi-e .row .text-with-line,
  .template-page-interior-wellness-collection #bath-tubs .row .text-with-line,
  .template-page-interior-wellness-collection #wash-basins .row .text-with-line,
  .template-page-interior-wellness-collection #faucets .row .text-with-line,
  .template-page-interior-wellness-collection #mirrors .row .text-with-line {
    padding: 20px 15px;
    margin-bottom: 1rem;
  }
  .template-page-interiorshome .rich-text .rte p,
  .template-page-interior-sofas .rich-text .rte p,
  .template-page-interior-bedroom .rich-text .rte p,
  .template-page-interior-chair .rich-text .rte p,
  .template-page-interior-complements .rich-text .rte p,
  .template-page-interior-lighting .rich-text .rte p,
  .template-page-inetrior-surfce-collection .rich-text .rte p,
  .template-page-interior-tables .rich-text .rte p,
  .template-page-interior-tablewear .rich-text .rte p,
  .template-page-interior-wellness-collection .rich-text .rte p {
    font-size: 14px;
    letter-spacing: 0.7px;
  }
  .template-page-interior-bedroom #monolith,
  .template-page-interior-chair #elite,
  .template-page-interior-complements #essence,
  .template-page-interior-lighting #diamond,
  .template-page-interior-sofas #byblos,
  .template-page-inetrior-surfce-collection #glamour,
  .template-page-interior-tables #dunes,
  .template-page-interior-tablewear #baalbek,
  .template-page-interior-wellness-collection #bath-tubs {
    margin-top: 10px !important;
  }
  .custom-sticky-style {
    position: relative !important;
    top: unset !important;
    z-index: 1 !important;
  }
}
